# build output
dist/

# lock files
bun.lockb
package-lock.json

# generated types
.astro/

#references
integra-old-on-php/
php-mail-system

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vercel
