---
import NAVIGATION from "@/navigation"
import Text from "../gui/Text.astro"
---

<nav>
    <ul class="flex gap-x-10 items-center">
        {
            NAVIGATION.map(({ name, href }) => (
                <li>
                    <a href={href}>
                      <Text as="span" variant="button-text" color="black">{name}</Text>
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
