---
import Layout from '../layouts/Layout.astro';
const title = 'About Us';
---

<Layout title={title}>
  <section>
    <h1>About Integra</h1>
    <p>We are dedicated to providing the best care for our seniors.</p>
  </section>
</Layout>
