---
import Layout from '../layouts/Layout.astro';
const title = 'Services';
---

<Layout title={title}>
  <section>
    <h1>Services We Offer</h1>
    <p>Explore the wide range of services we offer for senior care.</p>
  </section>
</Layout>
