---
import Text from './Text.astro';

type Props = {
  class?: string;
  variant: keyof typeof variantClasses;
};

const { class: className, variant, ...props } = Astro.props

const variantClasses: { [key: string]: string } = {
    primary: "text-white bg-primary-dark hover:bg-primary-light",
    secondary: "text-primary-dark bg-white hover:bg-primary-light",
    accent: "text-white bg-accent hover:bg-accent-light",
}

const classes = [
	variantClasses[variant as keyof typeof variantClasses],
	className,
]
---
<button class="max-w-fit px-8 py-4 rounded-[200px] transition-colors duration-300" class:list={classes} {...props} tabindex="0">
    <Text as="span" variant="button-text" color="white">
        <slot />
    </Text>
</button>
