---
import ContactForm from "../common/ContactForm.astro";
import Section from "../common/Section.astro";
import TextBlock from "../common/TextBlock.astro";
import OptimizedImage from "../common/OptimizedImage.astro";
interface Props {
  subtitle: string;
  title: string;
  description: string;
  image: string;
  contactForm: {
    title: string;
    inputFields: {
      type: string;
      placeholder: string;
    }[];
    selectOptions: string[];
    textareaPlaceholder: string;
    buttonText: string;
  };
}

const { subtitle, title, description, image, contactForm } = Astro.props;
---

<Section  
background="primary"
padding="medium"
width="wide"
height="auto"
id="experience-section"
animation="fade-in"
>
  <div class="container mx-auto lg:px-8 ">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 ">
      <div class="lg:order-1 relative z-10">
        <div
          class="transform translate-y-0 sm:translate-y-8 md:translate-y-12 lg:translate-y-0 lg:-mb-28 mx-2"
        >
          <ContactForm {...contactForm} />
        </div>
      </div>
      <div class="lg:order-2 text-white">
        
        <TextBlock
          subtitle={subtitle}
          title={title}
          description={description}
          alignment="left"
          textColor="white"
        />        <div
          class="mt-6 sm:mt-8 md:mt-10 max-w-[638px] h-[200px] sm:h-[250px] md:h-[300px] lg:h-[350px] mx-auto lg:mx-0 "
        >
          <OptimizedImage
            src={image}
            alt="Contact image"
            width={638}
            height={350}
            sizes="(max-width: 1024px) 100vw, 638px"
            class="object-cover w-full h-full rounded-lg shadow-lg"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</Section>
