---
import ContactForm from "../common/ContactForm.astro";
import TitleCommon from "../common/TitleCommon.astro";


---

<section class="contact-form || bg-primary py-12 px-4 md:px-0 sm:py-0 max-h-[50%] relative mb-20">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 gap-20 relative top-20">
        <ContactForm class="" />
        <div>
            <TitleCommon class="text-white md:text-left text-center" title="Feel Free Don’t Heisted To Contact With Us" subtitle="Get In Touch" desc="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout." />
            <div class="max-w-[638px] max-h-[365px] bg-slate-400 mt-12">
                <img src="/assets/img/Bild1.jpg" class="object-cover w-full h-full" alt="">
            </div>
        </div>
    </div>
</section>
