---
import Section from '../common/Section.astro';
import TextBlock from '../common/TextBlock.astro';
interface Props {
  title: string;
  subtitle: string;
  description: string;
  mapEmbedUrl: string;
}

const { title, subtitle, description, mapEmbedUrl } = Astro.props;
---

<Section animation="zoom-in"  padding="medium"
  width="medium"
height="auto">
<div class="mx-2 md:mx-4 lg:mx-12 xl:mx-16 2xl:mx-24" >
    <TextBlock
        subtitle={subtitle}
        title={title}
        description={description}
        alignment="center"
        textColor="text-deep-blue"
        />
  
    <div class="w-full h-0 pb-[56.25%] relative">
      <iframe
        src={mapEmbedUrl}
        class="absolute top-0 left-0 w-full h-full rounded-lg shadow-lg"
        style="border:0;"
        allowfullscreen=""        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
</Section>
