---
import Button from "../common/Button.astro";
import Icon from '../common/Icon.astro';

const stats = [
  { number: '12k', label: 'Seniors Helped' },
  { number: '69+', label: 'Seniors Helped' },
];

const services = [
  'Home Personal Care',
  'Health Center',
  'Active Aging Club Centre',
];

const BUTTON = {
  text: 'Book Appointment',
};
---

<section class="bg-deep-blue py-12 sm:py-16">
  <div class="container mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 text-white">
    
    <div class="flex flex-col lg:flex-row justify-between items-center mb-8 sm:mb-12 space-y-8 lg:space-y-0">
      <div class="text-center lg:text-left lg:w-3/4 order-2 lg:order-1">
        {services.map((service) => (
          <h2 class="text-ag-h3 sm:text-ag-h3 lg:text-ag-h2 font-ag-h2 mb-4 lg:mb-6">
            {service}
          </h2>
        ))}
      </div>
      <div class="flex justify-center mx-auto items-center lg:w-1/4 order-1 lg:order-2 mb-8 lg:mb-0">
        <img src="/assets/img/Bild1.jpg" alt="Smiley Icon" class="bg-gray-blue h-24 w-24 sm:h-32 sm:w-32 md:h-48 md:w-48 lg:h-48 lg:w-48 rounded-full inline-block sm:mb-4"/>
      </div>
      

      
    </div>

    
    <div class="border-t border-soft-orange mb-8 sm:mb-12"></div>

    
    <div class="flex flex-col lg:flex-row justify-between items-center text-center lg:text-left space-y-8 lg:space-y-0 ">
      <div class="grid grid-cols-2 gap-4 sm:gap-8 md:gap-0 mb-8 lg:mb-0 w-full lg:w-1/2">
        {stats.map(({ number, label }) => (
          <div>
            <p class="text-ag-h3 sm:text-ag-h2 lg:text-ag-h1 font-ag-h1 mb-2">{number}</p>
            <p class="mx-4 text-ag-list-text text-soft-orange font-ag-list-text">{label}</p>
          </div>
        ))}
      </div>

      
      <div class="flex flex-col lg:items-end w-full lg:w-1/2 ">
        
        <div class="mb-4 lg:mb-6 text-center lg:text-left">
          <p class="text-ag-body-text font-ag-body-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat voluptas ea vero consequatur ipsa debitis reiciendis.
          </p>
        </div>
      
        
        <div class="flex flex-col sm:flex-row items-center justify-center sm:justify-start lg:justify-end space-y-4 sm:space-y-0 sm:space-x-12 mx-auto">
          <div class="flex flex-col sm:flex-row items-center justify-center sm:justify-start lg:justify-end space-y-4 sm:space-y-0 sm:space-x-12 mx-auto">
            <Button variant="accent" size="medium">
            {BUTTON.text}
          </Button>
          <div class="flex items-center text-ag-h5 font-ag-h5 mt-4 sm:mt-0">
            <i class="fa fa-phone mr-2 text-soft-orange"></i>
            180 5545 6985
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
