---
interface Props {
  title: string;
  breadcrumbs: { label: string; url: string }[];
  backgroundImage: string;
}

const { title, breadcrumbs, backgroundImage } = Astro.props;
---

<div
  class="relative py-16 bg-cover bg-center bg-no-repeat"
  style={`background-image: url(${backgroundImage});`}
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container mx-auto px-4 relative z-10">
    <h1 class="text-ag-h2 font-ag-h2 text-white mb-4">{title}</h1>
    <nav class="text-sm" aria-label="Breadcrumb">
      <ol class="list-none p-0 inline-flex">
        {breadcrumbs.map((item, index) => (
          <li class="customUwu || flex items-center font-medium">
            {index > 0 && <span class="mx-2 text-gray-300 ">/</span>}
            <a
              href={item.url}
              class={index === breadcrumbs.length - 1 ? "text-gray-200 text-ag-body-text font-ag-body-text" : "text-white text-body-text font-body-text hover:text-gray-200 "}
            >
              {item.label}
            </a>
          </li>
        ))}
      </ol>
    </nav>
  </div>
</div>
