---
type Props = {
  href?: string;
  type?: "button" | "submit" | "reset";
  class?: string;
  variant?: "primary" | "secondary" | "accent";
  size?: "small" | "medium" | "large";
  fullWidth?: boolean;
  flex?: boolean;
};

const {
  href,
  class: className,
  variant = "primary",
  size = "medium",
  fullWidth = false,
  flex,
  ...props
} = Astro.props;

const variantClasses = {
  primary:
    "text-white bg-deep-blue hover:bg-soft-blue focus:ring-2 focus:ring-offset-2 focus:ring-primary focus:outline-none",
  secondary:
    "text-deep-blue bg-white hover:bg-gray-blue focus:ring-2 focus:ring-offset-2 focus:ring-deep-blue focus:outline-none",
  accent:
    "text-deep-blue bg-accent hover:bg-soft-orange focus:ring-2 focus:ring-offset-2 focus:ring-accent focus:outline-none",
};

const sizeClasses = {
  small: "text-sm px-6 py-3 min-h-[44px]", // Cumple touch target
  medium: "text-ag-button-text px-8 py-4 min-h-[48px]",
  large: "text-lg px-12 py-6 min-h-[52px]",
};

const fullWidthClass = fullWidth ? "w-full" : "max-w-fit";

const baseClasses =
  "rounded-full transition-all duration-300 focus:outline-none hover:shadow-lg active:scale-95 inline-flex items-center justify-center font-medium";

const classes = [
  variantClasses[variant],
  sizeClasses[size],
  fullWidthClass,
  baseClasses,
  className,
];
---

{href ? (
  <a href={href} class:list={classes} {...props}>
    <span
      class={`font-ag-button-text text-ag-button-text ${flex && "flex gap-2"}`}
    >
      <slot />
    </span>
  </a>
) : (
  <button class:list={classes} {...props}>
    <span
      class={`font-ag-button-text text-ag-button-text ${flex && "flex gap-2"}`}
    >
      <slot />
    </span>
  </button>
)}
