---
import Button from "../gui/Button.astro";
import Section from "../gui/Section.astro";
import Text from "../gui/Text.astro";
import Nav from "./Nav.astro";

const HEADER_INFO = {
  location: "5630 Stephanie St, Las Vegas",
  number: "+17024180420",
  scheadule: "Mon to sat 09:00 - 21:00",
};
---

<header class="shadow-sm">
  <Section
    background="white"
    padingVertical="xs"
    class="border-b-[1px] border-primary-light"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-center gap-6">
        <Text as="span" color="black" variant="body-text">
          {HEADER_INFO.location}
        </Text>
        <Text as="span" color="black" variant="body-text">
          {HEADER_INFO.number}
        </Text>
      </div>
      <Text as="span" color="black" variant="body-text">
        {HEADER_INFO.scheadule}
      </Text>
    </div>
  </Section>
  <Section background="white" class="shadow-sm" padingVertical="small">
    <div class="flex flex-col items-center justify-between gap-y-4 md:flex-row">
      <h1>Senior Care</h1>
      <Nav />
      <Button variant="primary">Appointment</Button>
    </div>
  </Section>
</header>
