---
const { socials = [], size = 'medium', customSize = '' } = Astro.props;

const sizes = {
  tiny: 'text-xs',                      // Muy pequeño
  small: 'text-sm',                     // Pequeño
  medium: 'text-ag-body-text',          // Medio (texto normal)
  large: 'text-ag-h5',                  // Grande
  xl: 'text-ag-h3',  
};

const iconClass = customSize ? customSize : (sizes[size] || sizes.medium);

const iconMap = {
  facebook: 'fab fa-facebook-f',
  twitter: 'fab fa-twitter',
  instagram: 'fab fa-instagram',
  linkedin: 'fab fa-linkedin-in',
  youtube: 'fab fa-youtube',
  phone: 'fas fa-phone',
  mapMarker: 'fas fa-map-marker-alt',
  clock: 'fas fa-clock',
  smile: 'far fa-smile',
  handhelp: 'fa-solid fa-handshake-angle',
  bed: 'fas fa-bed', 
  utensils: 'fas fa-utensils',
  'shield-alt': 'fas fa-shield-alt',
  seedling: 'fas fa-seedling',
  ambulance: 'fas fa-ambulance',
  heart: 'fas fa-heart',
};
---

<div class="flex">
  {socials.map(social => (
    <i class={`${iconMap[social]} m-1 ${iconClass}`}></i>
  ))}
</div>
