---
interface Link {
  name: string;
  href: string;
  isAnchor?: boolean;
}

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<nav>
  <ul class="md:flex md:space-x-8">
    {
      links.map(({ name, href, isAnchor }) => (
        <li>
          <a
            href={href}
            class="block py-2 px-3 md:p-0 text-gray-900 hover:text-primary-600 transition-colors duration-200"
            {...(isAnchor && { "data-nav-link": true })}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
