---
import Icon from "./Icon.astro";
---

<div class="newsletter || hidden" data-visible="false">
  <div id="newsletter-backrop"></div>
  <div class="newsletter-card || border border-accent max-w-md bg-white z-50">
    <div
      id="close-icon"
      class="absolute z-[55] aspect-square rounded-full bg-accent size-8 cursor-pointer top-4 right-4 grid place-content-center"
    >
      <Icon icons={[{ name: "close" }]} size="small" variant="default" />
    </div>
    <img
      src="/assets/img/Bild1.jpg"
      class="aspect-video w-full h-full object-cover"
      alt=""
    />
    <div class="px-5 py-7 flex flex-col gap-2">
      <h2 class="text-ag-h4 font-ag-h4 text-deep-blue">Connect With Us</h2>
      <p class="text-ag-body-text font-ag-body-text text-gray-600">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <form
        class="mt-2 border border-deep-blue rounded-full p-1 overflow-hidden flex justify-between items-center"
      >
        <input
          type="text"
          placeholder="enter your mail here"
          class="shadow-none border-none outline-none w-full"
        />
        <button
          class="bg-deep-blue rounded-full px-3 aspect-square grid place-content-center"
        >
          <Icon icons={[{ name: "send" }]} size="small" variant="accent" />
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  const newsletter = document.querySelector(".newsletter") as HTMLDivElement;

  setTimeout(() => {
    newsletter.classList.remove("hidden");
  }, 5000);

  newsletter.addEventListener("click", () => {
    newsletter.classList.add("hidden");
  });
</script>

<style>
  input:focus {
    box-shadow: none;
  }

  .newsletter-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #newsletter-backrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 49;
  }
</style>
